{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block body %}
    <h1>Create new Haie</h1>

    {{ include('haie_contoller/_form.html.twig') }}

    <a href="{{ path('app_haie_contoller_index') }}">back to list</a>
{% endblock %}
