{% extends 'base.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
    <h1>Create new Devis</h1>

    {{ form_start(form) }}
        {{ form_row(form.user) }}
        {{ form_row(form.date) }}
        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
{% endblock %}
