{% extends 'base.html.twig' %}

{% block title %}Hello CreerHaieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .example-wrapper label {
        color: #7484fd;
            font-weight: bold;
            margin: 10px;
        }
        input {
        color: #7484fd;
        border: 1px solid #7484fd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        }
        input:focus {
        color: #7484fd;
        border: 1px solid #7484fd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        }
        input:active {
        color: #7484fd;
        border: 1px solid #7484fd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        }
        input:hover {
        color: #7484fd;
        border: 1px solid #7484fd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        }
        input:visited {
        color: #7484fd;
        border: 1px solid #7484fd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        }

        input[type="submit"] {
        color: #7484fd;
            border: 1px solid #7484fd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            background-color: #7484fd;
            color: white;
        }
        input[type="submit"]:hover {
        color: #7484fd;
            border: 1px solid #7484fd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            background-color: white;
            color: #7484fd;
        }
        input[type="submit"]:active {
        color: #7484fd;
            border: 1px solid #7484fd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            background-color: white;
            color: #7484fd;
        }
        input[type="submit"]:focus {
        color: #7484fd;
            border: 1px solid #7484fd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            background-color: white;
            color: #7484fd;
        }
        input[type="submit"]:visited {
        color: #7484fd;
            border: 1px solid #7484fd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            background-color: white;
            color: #7484fd;
        }

        table {
                margin-top: 20px;
                border-collapse: collapse;
                width: 100%;
                background-color: #ebe9ff;
            }

            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 8px;
                text-align: left;
            }
            tr:hover {
                background-color: #fff9ff;
            }
            th {
                background-color: #7484fd;
                color: white;
            }
            th:hover {
                background-color: #fff9ff;
                color: #7484fd;
            }
 </style>

<div class="example-wrapper">
    <h1>Créer une nouvelle haie</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
    {% else %}
        <div class="alert">
            Cette action est réservée aux administrateurs.
        </div>
    {% endif %}
</div>
{% endblock %}