{% extends 'base.html.twig' %}

{% block title %}Hello HaieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% if mesHaies is defined %}
    <div class="example-wrapper">
        {% for item in mesHaies %}
            Désignation de la haie : {{ item.getNom() }}
            Prix de la haie : {{ item.getPrix() }}<br>
        {% endfor %}
    </div>
{% elseif maHaie is defined %}
    <!-- Traiter le cas où une seule haie est définie -->
    Désignation de la haie : {{ maHaie.getNom() }}
    Prix de la haie : {{ maHaie.getPrix() }}<br>
{% else %}
    <!-- Traiter le cas où ni mesHaies ni maHaie ne sont définis -->
{% endif %}
{% endblock %}
